.flex-container {
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 10px;
    font-family: sans-serif;
}
.boxbleu {
    background-color: #67B3DD;
    height: 12.5dvh;
    max-width: 767px;
 
}
.boxgreen {
    background-color: #9EE062;
    height: 25dvh;
    margin-top: 1.5dvh;
    max-width: 767px;
 
}
.boxyellow {
    background-color: #FEDF6B;
    height: 25dvh;
    margin-top: 1.5dvh;
    max-width: 767px;
 
}
.boxred {
    background-color: #FC302D;
    height: 12.5dvh;
    margin-top: 1.5dvh;
    max-width: 767px;
}