.content{
  background-color: grey;
}

.box{
  border: 2px solid black;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

main aside{
  display: flex;
  flex-direction: column;
  flex: 80%;
}

header{
  display: grid;
}

.moving_square{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: moveSquare 5s linear 5;
}

@keyframes moveSquare{
  0%{
    top: 0;
    left: 0;
    background-color: red;
  }
  25%{
    top: 300px;
    left: 0;
    background-color: green;
  }
  50%{
    top: 300px;
    left: 300px;
    background-color: blue;
  }
  75%{
    top: 0;
    left: 300px;
    background-color: yellow;
  }
  100%{
    top: 0;
    left: 0;
    background-color: red;
  }
}